body{
    background-color: #0F0715;
    color: white;
}
.row{
    display: flex;
    align-items: center;
    height: 100%;
}
.container{
    height: 70vh;
    display: flex;
    align-items: center;
}
.part1{
    display: block;
    align-items: center;
}
.name{
    font-size: 2.5rem;
}
.dev{
    display: flex;
    align-items: center;
    justify-content: start;
    font-size: 5.5rem;
    background: linear-gradient(to right, #8952F7, #ffffff);
    background-clip: text;
    color: transparent;
    padding-bottom:2%;
}

.cv{
    font-size: 1.1rem;
    width: 30%;
    height: 5vh;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5rem;
    gap: 2.5%;
    color: #8750F7;
    border: 2px solid #8750F7;
    transition: transform 0.4s ease, background-color 0.4s ease,color 0.4s; 
    background-color: #0F0715;
}
.cv:hover{
    transition: transform 0.4s ease, background-color 0.4s ease,color 0.4s; 
    background-color: #8750F7;
    color: white;
}
.btns{
    padding-top: 5%;
    display: flex;
    align-items: center;
    justify-content: start; 

}
.icons{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10%;
    font-size: 3vh;
    width:40%;
    height:10vh;
    list-style-type: none;
}

.part2{
    display: flex;
    align-items: center;
    justify-content: center;
}
.Profile {
    width: 50%;
    border-radius: 1.5rem;
    transform: rotate(10deg);
    border: 4px solid #2A1454;
    transition: transform 0.4s ease, border-color 0.4s ease; /* Add transition for border color */
}

.Profile:hover {
    transform: rotate(0deg);
    border: 4px solid #8750F7; /* Change border color on hover */
}
.part3{
    background-color: #050709;
    display: flex;
    align-items: center;
    height: 80vh;
}
.wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
}
.content{
    margin-top: 4%;
    text-align: center;
}
.heading{
    margin-bottom: 5%;
    text-align: center;
}

.info{
    height: 100%;
    width: 70%;
}


@media (min-width: 0px) and (max-width: 320px){
    .container{
        height: 120vh;
    }
    .part1{
        width: 100%;
        height: 60%;
    }
    .row{
        display: block;
    }
    .name{
        font-size: 1.5rem;
        width: 100%;
    }
    .dev{
        width: 100%;
        font-size: 2.5rem;
    }
    .cv{
        width: 45%;
        font-size: 1rem;
        height: 8vh;
    }
    .icons{
        font-size: 5vh;
        
    }
    .btns{
        gap: 5%;
    }
    .part2{
        width: 100%;
        height: 40%;
        padding-bottom: 5%;
    }
    .part3{
        height: 100vh;
        font-size: 1rem;
    }
    .heading{
        font-size: 1.5rem;
    }
    .content{
        font-size: 1rem;
    }
    .info{
        height: 100%;
        width: 100%;
    }
}