.container{
    height: 25vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.Logo{
    width: 20%;
    height: 50%;
}
.icons{
    margin-top: 2.5%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5%;
    font-size: 3vh;
    list-style-type: none;
}
